body,
ul,
h1,
h2,
h3,
p,
div {
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

input {
	outline: none;
}

.sp_boc {
	width: 16rem;
	height: 16rem;
}

.sp_up {
	width: 16rem;
	height: 2.224rem;
	background-color: #f9f9f9;
	border-bottom: 0.02rem solid #cacaca;
}

.sp_img1 {
	width: 0.47rem;
	height: 0.82rem;
	display: block;
	float: left;
	margin-top: 0.66rem;
	margin-left: 0.29rem;
}

.sp_shop {
	width: 4.44rem;
	height: 2.22rem;
	line-height: 2.22rem;
	text-align: center;
	display: block;
	float: left;
	color: #414141;
	margin-left: 4.44rem;
	font-size: 0.49rem;
}

.sp_shop h {
	font-size: 0.49rem;
}

.sp_bj {
	width: 1.777rem;
	height: 2.222rem;
	line-height: 2.222rem;
	text-align: center;
	display: block;
	float: left;
	font-size: 0.59rem;
	color: #494949;
	margin-left: 1.777rem;
}

.sp_img2 {
	width: 1.18rem;
	height: 1.314rem;
	float: right;
	display: block;
	margin-right: 0.296rem;
	margin-top: 0.222rem;
}

.sp_last {
	width: 16rem;
	height: 1.925em;
}

.sp_img3 {
	width: 0.918rem;
	height: 0.918rem;
	display: block;
	float: left;
	margin-left: 0.296rem;
	margin-top: 0.5184rem;
}

.sp_img4 {
	width: 0.8rem;
	height: 0.8rem;
	display: block;
	float: left;
	margin-left: 0.4rem;
	margin-top: 0.592rem;
}

.sp_last span {
	width: 4.40rem;
	height: 1.92rem;
	display: block;
	text-align: center;
	line-height: 1.92rem;
	float: left;
	font-size: 0.518rem;
	color: #3a3f42;
	margin-left: 0.518rem;
}

.sp_img5 {
	width: 0.4rem;
	height: 0.72rem;
	display: block;
	float: left;
	margin-left: 1rem;
	margin-top: 0.592rem;
}

.sp_div {
	width: 2.37rem;
	height: 0.74rem;
	float: right;
	font-size: 0.51rem;
	border-left: 0.0744rem solid #dcdcdc;
	text-align: center;
	line-height: 0.74rem;
	margin-top: 0.518rem;
	cursor: pointer;
}

.sp_bhz {
	width: 16rem;
	height: 12.2016rem;
	overflow: auto;
}

.sp_dhz {
	width: 16rem;
	height: 18.6016rem;
	display: block;
}

.sp_dhz li {
	width: 16rem;
	height: 4.5928rem;
	display: block;
	border-top: 0.0740rem #fff solid;
	background-color: #f8f8f8;
}

.sp_dhz li .cimg6 {
	width: 0.918rem;
	height: 0.91rem;
	display: block;
	float: left;
	margin-left: 0.58rem;
	margin-top: 1.777rem;
}

.sp_dhz li .cimg7 {
	width: 4.088rem;
	height: 4.088rem;
	display: block;
	float: left;
	margin-left: 0.296rem;
	margin-top: 0.296rem;
}

.sp_first {
	width: 8.5928rem;
	height: 4.088rem;
	margin-top: 0.272rem;
	float: left;
}

.sp_sp1 {
	width: 8.59rem;
	height: 1.7592rem;
	display: block;
	line-height: 0.672rem;
	font-size: 0.3rem;
}

.sp_sp2 {
	width: 8.5928rem;
	height: 0.888rem;
	color: #fe5300;
	font-size: 0.5184rem;
	display: block;
}

.sp_sp3 {
	width: 8.5928rem;
	height: 0.888rem;
	color: #989898;
	font-size: 0.4448rem;
}

.sp_sp2 c {
	color: #37403f;
	margin-left: 0.296rem;
	font-size: 0.37rem;
}

.sp_sp2 o {
	color: #37403f;
	margin-left: 0.296rem;
	font-size: 0.3704rem;
}

.sp_sp2 l {
	color: #37403f;
	font-size: 0.3704rem;
	float: right;
	margin-right: 0.456rem;
	margin-top: 0.5184rem;
}

.sp_down {
	width: 16rem;
	height: 2.222rem;
	border-top: 0.0296rem solid #cacaca;
}

.sp_img8 {
	width: 0.918rem;
	height: 0.918rem;
	display: block;
	float: left;
	margin-left: 0.296rem;
	margin-top: 0.59rem;
}

.sp_down k {
	width: 1.92rem;
	height: 2.222rem;
	line-height: 2.222rem;
	text-align: center;
	display: block;
	float: left;
	margin-left: 0.296rem;
	font-size: 0.533rem;
}

.sp_down span {
	width: 4.088rem;
	height: 1.4224rem;
	font-size: 0.5184rem;
	color: #44494c;
	display: block;
	float: left;
	margin-left: 4.172rem;
	line-height: 0.7584rem;
	margin-top: 0.4rem;
}

.sp_down span g {
	color: #fd5202;
}

.sp_down span r {
	font-size: 0.448rem;
}

.sp_down div {
	width: 4.088rem;
	height: 2.2224rem;
	background-color: #FD5202;
	color: #fff;
	float: right;
	line-height: 2.222rem;
	text-align: center;
	font-size: 0.5184rem;
}

.sp_mon {
	width: 16rem;
	height: 12.20rem;
	overflow: auto;
	display: none;
}

.sp_mon ul {
	width: 16rem;
	height: 18.6016rem;
	display: block;
}

.sp_mon ul li {
	width: 16rem;
	height: 4.5928rem;
	display: block;
	border-top: 0.074rem #fff solid;
	background-color: #f8f8f8;
}

.sp_img6 {
	width: 0.9184rem;
	height: 0.9184rem;
	display: block;
	float: left;
	margin-left: 0.296rem;
	margin-top: 1.776rem;
}

.sp_img7 {
	width: 4.088rem;
	height: 4.088rem;
	display: block;
	float: left;
	margin-left: 0.296rem;
	margin-top: 0.296rem;
}

.sp_boh {
	width: 7.8712rem;
	height: 4.088rem;
	margin-top: 0.296rem;
	float: left;
}

.sp_on {
	width: 7.87rem;
	height: 2.044rem;
	display: block;
	border-bottom: #fff 0.0696rem solid;
}

.sp_on j {
	width: 2.567rem;
	height: 2.044rem;
	line-height: 2.044rem;
	text-align: center;
	border-right: #fff solid 0.0696rem;
	display: block;
	float: left;
}

.sp_on c {
	width: 2.5672rem;
	height: 2.044rem;
	line-height: 2.044rem;
	text-align: center;
	border-right: #fff solid 0.0696rem;
	display: block;
	float: left;
}

.sp_on d {
	width: 2.5672rem;
	height: 2.044rem;
	line-height: 2.044rem;
	text-align: center;
	display: block;
	float: right;
}

.sp_wd {
	width: 2.5672rem;
	height: 1.644rem;
}

.sp_wd v {
	width: 5.2169rem;
	height: 1.4816rem;
	display: block;
	color: #989898;
	font-size: 0.448rem;
	margin-left: 0.57rem;
	float: left;
	line-height: 1.48rem;
}

.sp_wd img {
	width: 0.5336rem;
	height: 0.311rem;
	display: block;
	float: right;
	margin-top: 0.536rem;
	margin-right: 0.296rem;
}

.sp_del {
	width: 2.518rem;
	height: 4.5928rem;
	line-height: 4.5928rem;
	text-align: center;
	color: #fff;
	background-color: #fd5202;
	float: right;
	font-size: 0.5184rem;
}